#NewsDetail {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;    
    background-color: white;
}
#NewsDetail h3 {
    margin-top: 0px;    
}
#NewsDetail .news-date {
    font-size: 0.8em;    
}
#NewsDetail .news-content {        
}

